<style>
#wod-times .label-success {
    background-color: #3cb521
}

#wod-times .label-info {
    background-color: #3399f3
}

#wod-times .label-warning {
    background-color: #d47500
}

#wod-times .label-danger {
    background-color: #cd0200
}
</style>

<script src="{{ site.baseurl }}/js/WODwidget.js"></script>

<span class="h4">
  <span style="padding: 2px" class="badge bg-success">Rx: {{ include.Rx }}</span>
  <span style="padding: 2px" class="badge bg-info">Av: {{ include.Av }}</span>
  <span style="padding: 2px" class="badge bg-warning">Sd: {{ include.Sd }}</span>
  <span style="padding: 2px" class="badge bg-danger">DNF: {{ include.DNF}}</span>
</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button onclick="startCountdownTimer('Rx: {{ include.Rx }} Av: {{ include.Av }} Sd: {{ include.Sd }} DNF: {{ include.DNF}}', new Date(),'{{ site.baseurl }}')" style="font-size: 15px;">Start WOD Timer</button>